@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600;700;800;900&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

a {
text-decoration: none;
}



:root {
--primary-Soft-red: hsl(7, 99%, 70%);
--primary-Yellow: hsl(51, 100%, 49%);
/*(graphic design text)*/
--primary-Dark-desaturated-cyan: hsl(167, 40%, 24%);
/*(photography text)*/
--primary-Dark-blue: hsl(198, 62%, 26%);
/*(footer)*/
--primary-Dark-moderate-cyan: hsl(168, 34%, 41);
--nutral-Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--neutral-Very-dark-grayish-blue: hsl(213, 9%, 39%);
--neutral-Dark-grayish-blue: hsl(232, 10%, 55%);
--neutral-Grayish-blue: hsl(210, 4%, 67%);
--neutral-White: hsl(0, 0%, 100%);
--font-family-Barlow: 'Barlow', sans-serif;
--font-family-Fraunces: 'Fraunces', serif;
}

.container {
width: 100%;
height: auto;
/* display: flex; */
}

.mobile_img {
display: none;
}

.top-section
{
width: 100%;
display: flex;
flex-direction: column;
position: relative;
background-image: url(../images/desktop/image-header.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 750px;
background-position-y: center;
background-position-x: center;

}

.hambarger {
display: none;
}



navbar {
width: 100%;
height: 15%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 10px;
}

.logo_name {
width: 60%;
}

.logo_name img {
padding-left: 35px;
width: 26%;
}

.nav_right {
width: 40%;
font-family: var(--font-family-Barlow);
color: var(--neutral-White);
/* display: flex; */
}

.nav_right ul {
display: flex;
list-style: none;
align-items: center;
justify-content: space-evenly;
color: var(--neutral-White);
cursor: pointer;
font-weight: 400;
}

.nav_right ul li:last-child {
font-family: var(--font-family-Fraunces);
background-color: var(--neutral-White);
color: var(--primary-Dark-blue);
padding: 16px 25px;
border-radius: 25px;
font-size: 15px;
font-weight: 800;
}

.link_btn {
color: var(--neutral-White);

}

.creatives {
width: 100%;
text-align: center;
font-family: var(--font-family-Fraunces);
color: var(--neutral-White);
text-transform: uppercase;
margin-top: 72px;
}

.creatives h1 {
letter-spacing: 9px;
font-size: 49px;
font-weight: 900;
color: var(--primary-Dark-blue);

}

.arrow {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
position: relative;
top: 81px;
}

/* <!-- transform brand +  egg starts  */
.main__transform__brand {
width: 100%;
display: flex;
}

.transform__brand-left,
.stand__out-right {
width: 50%;
padding: 0 105px;
display: flex;
flex-direction: column;
justify-content: center;
}

.transform__brand-left h1,
.stand__out-right h1 {
margin-bottom: 35px;
font-family: var(--font-family-Fraunces);
font-weight: 900;
font-size: 37px;
}

.transform__brand-left p,
.stand__out-right p {
margin-bottom: 35px;
font-family: var(--font-family-Barlow);
color: var(--neutral-Grayish-blue);
/* color: var(--neutral-Dark-grayish-blue); */
font-size: 18px;
font-weight: 600;

}

.transform__brand-left a,
.stand__out-right a {
text-decoration: none;
color: var(--primary-Dark-blue);
font-family: var(--font-family-Fraunces);
color: var(--nutral-Very-dark-desaturated-blue);
position: relative;
z-index: 11;
font-size: 18px;

}

.transform__brand-left a::after{
content: " ";
position: absolute;
width: 145px;
height: 10px;
background-color: var(--primary-Yellow);
bottom: -1px;
left: -9px;
border-radius: 12px;
opacity: .3;
z-index: 10;
}

.stand__out-right a::after{
content: " ";
position: absolute;
width: 145px;
height: 10px;
background-color: var(--primary-Soft-red);
bottom: -1px;
left: -9px;
border-radius: 12px;
opacity: .3;
z-index: 10;

}




.transform__brand-right {
 width: 50%;
}

.transform__brand-right img {
width: 100%;
}


/* <!-- Stand out starts --> */


.main__stand__out {
display: flex;
width: 100%;
position: relative;
top: -5px;
}

.stand__out-left {
width: 50%;

}

.stand__out-left img {
width: 100%;
}
.stand__out-right {
width: 50%;
}

.graphic__photography-both {
display: flex;
width: 100%;
position: relative;
top: -10px;
}

/* <!-- Graphic design starts --> */
.graphic__design {
width: 50%;
display: flex;
position: relative;
justify-content: center;

}

.graphic__design-image {
width: 100%;
position: relative;
}

.graphic__design-image img {
width: 100%;
}

.graphic__design-contant {
position: absolute;
bottom: 50px;
text-align: center;
color: var(--primary-Dark-desaturated-cyan);
width: 60%;
justify-content: center;

}

.graphic__design-contant h2 {
font-family: var(--font-family-Fraunces);
margin-bottom: 20px;
font-weight: 900;
}

.graphic__design-contant p {
/* padding: 0 130px; */
font-family: var(--font-family-Barlow);
font-size: 18px;
font-weight: 600;

}

/* <!-- Graphic design ends --> */

/* <!-- Photography starts --> */

.photography__section {
width: 50%;
display: flex;
position: relative;
justify-content: center;

}

.photography__section-image {
width: 100%;
position: relative;
}

.photography__section-image img {
width: 100%;
}

.photography__section-contant {
position: absolute;
bottom: 50px;
text-align: center;
color: var(--primary-Dark-blue);
width: 60%;
justify-content: center;
}

.photography__section-contant h2 {
font-family: var(--font-family-Fraunces);
margin-bottom: 20px;
font-weight: 900;
}

.photography__section-contant p {
/* padding: 0 130px; */
font-family: var(--font-family-Barlow);
font-size: 18px;
font-weight: 600;

}
/* client__testimonials */

.client__testimonials {
/* display: flex; */
width: 100%;
text-align: center;
padding: 50px 0;
}

.client__testimonials__title {
padding: 60px 0;
}

.client__testimonials__title h2 {
color: var(--neutral-Grayish-blue);
font-family: var(--font-family-Fraunces);
letter-spacing: 10px;
}

.client__testimonials-cards {
width: 100%;
display: flex;
align-items: center;
}

.card {
width: 33.33%;
display: flex;
flex-direction: column;
align-items: center;

}

.card__profile {
width: 100px;
height: 100px;
margin-bottom: 20px;
}

.card__profile img {
width: 100%;
border-radius: 50%;
}

.card__desp {
margin-bottom: 40px;
}

.card__desp p {
font-family: var(--font-family-Barlow);
margin-bottom: 20px;
padding: 0 40px;
color: var(--neutral-Grayish-blue);
font-weight: 600;
line-height: 25px;
}

.name_designation {
margin-bottom: 20px;
}

.name_designation h3 {
font-family: var(--font-family-Fraunces);
color: var(--nutral-Very-dark-desaturated-blue);
font-weight: 900;
margin-bottom: 10px;
}

.name_designation p {
font-family: var(--font-family-Barlow);
color: var(--neutral-Grayish-blue);
font-weight: 600;
}


/* client__testimonials ends */
/* <!-- Image section starts --> */

.main__imgage_section {
display: flex;
/* flex-direction: column; */
width: 100%;
}

.img_left_sec {
width: 50%;
display: flex;
}

.image {
width: 50%;
height: 100%;
}

.image img {
width: 100%;
height: inherit;
}

.img_right_sec {
width: 50%;
display: flex;

}


/* footer section starts */

footer {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
/* justify-content: center; */
text-align: center;
background-color: #90d4c5;
padding: 60px 0;
/* position: relative; */
/* z-index: 11; */
font-family: var(--font-family-Barlow);
font-weight: 600;


}

/* footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-Dark-moderate-cyan);
top: 0;
left: 0;
opacity: .7;
z-index: 1;
} */

.footer_title {
width: 50%;
z-index: 12;
margin-bottom: 20px;
}

.footer_title h1{
z-index: 1;
font-family: 'Urbanist';
font-weight: 900;
color: var(--primary-Dark-moderate-cyan);
margin-bottom: 20px;
}

.footer__links {
width: 50%;
z-index: 12;
margin-bottom: 40px;
}

.footer__links ul {
display: flex;
list-style: none;
align-items: center;
justify-content: space-evenly;
cursor: pointer;
color: var(--primary-Dark-moderate-cyan);
margin-bottom: 40px;
}

.social_media__links {
display: flex;
width: 50%;
justify-content: center;
z-index: 12;

}

.social_media__links a img {
z-index: 14;
margin-right: 15px;
}

/* responsive */




@media screen and (max-width:992px) {

.transform__brand-left,
.stand__out-right {
padding: 45px 65px;
}



.transform__brand-left h1,
.stand__out-right h1 {

font-size: 31px;
}

.photography__section-contant {
width: 80%;
}

.graphic__design-contant {
width: 80%;
}

}

@media screen and (max-width:927px) {
.photography__section-contant {
width: 90%;
}

.graphic__design-contant {
 width: 90%;
 }

.card__desp p {
font-weight: 600;
padding: 0 24px;
}

.nav_right{
 width: 50%;
}
}

@media screen and (max-width:820px) {
.arrow{ top: 120px;}
 .photography__section-contant { width: 60%;
 bottom: 30px; }
 .graphic__design-contant { width: 67%; bottom: 30px;
}



.transform__brand-left h1,
.stand__out-right h1 {

font-size: 29px;
}

.transform__brand-left p,
.stand__out-right p {
line-height: 15px;
font-size: 14px;
}

.nav_right ul {

font-size: 15px;

 }

 .card {
 width: 90%;

 padding: 10px;
 margin-bottom: 10px;
 }
.main__imgage_section {
 flex-direction: column;
 }

 .img_left_sec {
 width: 100%;
 }

 .img_right_sec {
 width: 100%;
 }

 .hambarger {
 display: block;
 }

 .nav_right ul {
 display: none;
 }

 .client__testimonials-cards {
 flex-direction: column;
 }

 .logo_name {
 width: 260%;
 }

 /* .mobile_img {
 display: block;
 }

 .desktop_img {
 display: none;
 } */

 .transform__brand-left {
 text-align: center;
 }

 .stand__out-right {
 text-align: center;
 }

 .transform__brand-left a::after {
 left: 90px;
 }

 .stand__out-right a::after {
left: 97px;
 }

 .top-section {

 background-image: url(../images/mobile/image-header.jpg);
 background-position: bottom;
height: 740px;
background-size: cover;
background-repeat: no-repeat;
 }


 .arrow {
 top: 55px;
 }

 .creatives h1 {
 font-size: 40px;
 }

 .client__testimonials {
 flex-direction: column;
 }

 .card__desp p {
 padding: 0 18px;

 }

 .transform__brand-left,
 .stand__out-right {
 /* width: 50%; */
 padding: 50px 35px;
 }

 .main__stand__out {
 top: 0;
 }

.card {
 width: 50%;
 }

.card__desp p {
 
    padding: 0 8px;

}

.name_designation h3 {

 
    margin-bottom: 20px;
}

 .logo_name img {
 
    padding-left: 35px;
 
 width: 35%;
}
}


@media screen and (max-width:715px) {

.transform__brand-left,
.stand__out-right {
padding: 45px 25px;
}

 .logo_name img {
  padding-left: 35px;
  width: 36%;
 }
}


@media screen and (max-width:676px) {
.main__transform__brand {
flex-direction: column-reverse;
}

 .transform__brand-left {
 width: 100%;
}

.transform__brand-right {
 width: 100%;
}

.main__stand__out {
flex-direction: column;
}

 .stand__out-left {
width: 100%;
}

.stand__out-right {
width: 100%;
}

.graphic__photography-both {
 flex-direction: column;
 }

.graphic__design {
 width: 100%;
}

.photography__section {
 width: 100%;
}

.transform__brand-left,
.stand__out-right {
/* width: 50%; */
 padding: 63px 60px;
 }

.transform__brand-left,
.stand__out-right {
padding: 99px 104px;
 }

.card {
width: 70%;
}
.transform__brand-left a::after {
 left: 157px;
}

.stand__out-right a::after {
left: 157px;
 }
}

@media screen and (max-width:420px) {




  .transform__brand-left,
 .stand__out-right {
 padding: 99px 23px;
  }

.arrow {
top: 150px;
}

.photography__section-contant {
width: 90%;

bottom: 30px;
}

.graphic__design-contant {
width: 90%;
bottom: 30px; }

.card {
 width: 90%;
 margin-bottom: 10px;
}

.stand__out-right p,
.transform__brand-left p {
font-size: 18;
line-height: 26px;
}


.card__desp p {
padding: 0 18px;
line-height: 25px;
font-size: 18px;
}

.nametion h3 {
margin-bottom: 20px;
}

.transform__brand-left a::after {
left: 90px;
}

.stand__out-right a::after {
left: 90px;
}
.logo_name img {
padding-left: 35px;
width: 45%;
}
}